USE [master]
GO
/****** Object:  Database [cementerios_gotera]    Script Date: 19/7/2022 09:48:50 ******/
CREATE DATABASE [cementerios_gotera]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cementerios_gotera', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\cementerios_gotera.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cementerios_gotera_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\cementerios_gotera_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cementerios_gotera].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cementerios_gotera]
GO
USE [cementerios_gotera]
GO
/****** Object:  Table [dbo].[alcaldia]    Script Date: 19/7/2022 09:48:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alcaldia](
	[Id] [nvarchar](255) NOT NULL,
	[Nombre_Alcaldia] [nvarchar](255) NULL,
	[Direccion_Alcaldia] [nvarchar](255) NULL,
	[Telefono_Alcaldia] [nvarchar](255) NULL,
	[Alcalde_Alcaldia] [nvarchar](255) NULL,
	[web] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[Departamento] [nvarchar](255) NULL,
	[Municipio] [nvarchar](255) NULL,
	[Jefe] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 19/7/2022 09:48:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[id_bitacora] [int] IDENTITY(1,1) NOT NULL,
	[Modulo] [nvarchar](255) NULL,
	[accion] [nvarchar](255) NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colonias]    Script Date: 19/7/2022 09:48:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colonias](
	[id_colonia] [int] NOT NULL,
	[colonia] [nvarchar](255) NULL,
	[id_zona] [int] NULL,
	[activo] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[correlativo]    Script Date: 19/7/2022 09:48:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[correlativo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ultimo_titulo] [int] NULL,
	[ultimo_entierro] [int] NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_correlativo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 19/7/2022 09:48:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](255) NULL,
	[Apellido] [nvarchar](255) NULL,
	[edad] [int] NULL,
	[f_nac] [datetime] NULL,
	[estado_civil] [nvarchar](255) NULL,
	[sexo] [nvarchar](255) NULL,
	[direccion] [nvarchar](255) NULL,
	[dui] [nvarchar](255) NULL,
	[nit] [nvarchar](255) NULL,
	[telefono] [nvarchar](255) NULL,
	[experiencia] [nvarchar](255) NULL,
	[logros] [nvarchar](255) NULL,
	[fallos] [nvarchar](255) NULL,
	[f_inicio] [nvarchar](255) NULL,
	[f_registro] [nvarchar](255) NULL,
	[cargo] [nvarchar](255) NULL,
	[correo] [nvarchar](255) NULL,
	[especialidad] [nvarchar](255) NULL,
	[activo] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entierros]    Script Date: 19/7/2022 09:48:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entierros](
	[id_entierro] [int] IDENTITY(1,1) NOT NULL,
	[numero_entiero] [int] NULL,
	[id_titulo] [int] NULL,
	[nombres_fallecido] [varchar](50) NULL,
	[apellidos_fallecido] [varchar](50) NULL,
	[tipo_documento_fallecido] [varchar](50) NULL,
	[numero_documento_fallecido] [varchar](50) NULL,
	[sexo_fallecido] [varchar](50) NULL,
	[edad_fallecido] [varchar](50) NULL,
	[estado_familiar] [varchar](50) NULL,
	[direccion_residencia_fallecido] [varchar](50) NULL,
	[lugar_nacimiento_fallecido] [varchar](50) NULL,
	[lugar_fallecimiento] [varchar](50) NULL,
	[fecha_fallecimiento] [date] NULL,
	[hora_fallecimiento] [int] NULL,
	[minutos_fallecimiento] [int] NULL,
	[cremacion_cadaver] [varchar](50) NULL,
	[causa_muerte] [varchar](50) NULL,
	[nombre_informante] [varchar](50) NULL,
	[apellidos_informante] [varchar](50) NULL,
	[numero_documento_informante] [varchar](50) NULL,
	[tipo_documento_informante] [varchar](50) NULL,
	[calidad_informante] [varchar](50) NULL,
	[fecha_dio_datos] [date] NULL,
	[numero_recibo] [varchar](50) NULL,
	[poligono] [varchar](50) NULL,
	[lote_num] [varchar](50) NULL,
	[cementerio] [varchar](50) NULL,
	[escaneo] [image] NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_entierros] PRIMARY KEY CLUSTERED 
(
	[id_entierro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[titulo_perpetuidad]    Script Date: 19/7/2022 09:48:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[titulo_perpetuidad](
	[id_titulo] [int] IDENTITY(1,1) NOT NULL,
	[numero_titulo] [int] NULL,
	[fecha_registro_titulo] [date] NULL,
	[monto_titulo] [decimal](18, 2) NULL,
	[derecho_a_favor] [varchar](150) NULL,
	[edad_afavor] [int] NULL,
	[profesion_afavor] [varchar](150) NULL,
	[domicilio_afavor] [varchar](150) NULL,
	[departamento_afavor] [varchar](50) NULL,
	[dui_afavor] [varchar](50) NULL,
	[dui_favor_extendido] [varchar](50) NULL,
	[dui_departamento_extendido] [varchar](50) NULL,
	[cantidad_puesto] [varchar](50) NULL,
	[cementerio_puesto] [varchar](150) NULL,
	[situado_puesto] [varchar](50) NULL,
	[zona_puesto] [varchar](50) NULL,
	[categoria_puesto] [varchar](50) NULL,
	[calle_puesto] [varchar](50) NULL,
	[numero_puesto] [varchar](50) NULL,
	[letra_puesto] [varchar](50) NULL,
	[metro_ancho] [int] NULL,
	[centimentro_ancho] [int] NULL,
	[metro_largo] [int] NULL,
	[centimetro_largo] [int] NULL,
	[linda_norte_puesto] [varchar](50) NULL,
	[linda_norte_calle] [varchar](50) NULL,
	[linda_sur_puesto] [varchar](50) NULL,
	[linda_sur_calle] [varchar](50) NULL,
	[linda_oriente_puesto] [varchar](50) NULL,
	[linda_oriente_calle] [varchar](50) NULL,
	[linda_poniente_puesto] [varchar](50) NULL,
	[linda_poniente_calle] [varchar](50) NULL,
	[cantidad_construir_nichos] [varchar](50) NULL,
	[contracava] [varchar](50) NULL,
	[monto_construccion] [decimal](18, 2) NULL,
	[numero_recibo] [int] NULL,
	[fecha_recibo] [date] NULL,
	[referencias] [varchar](50) NULL,
	[persona_entierra] [varchar](50) NULL,
	[imagen_recibo] [image] NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_titulo_perpetuidad] PRIMARY KEY CLUSTERED 
(
	[id_titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/7/2022 09:48:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_usuario] [int] NOT NULL,
	[Usuario] [nvarchar](255) NULL,
	[Pass] [nvarchar](255) NULL,
	[Nombre] [nvarchar](255) NULL,
	[dui] [nvarchar](255) NULL,
	[Cargo] [nvarchar](255) NULL,
	[tipo] [nvarchar](255) NULL,
	[Fecha_registro] [datetime] NULL,
	[nit] [nvarchar](255) NULL,
	[iinmuebles] [bit] NOT NULL,
	[iinmuebles_dispensos] [bit] NOT NULL,
	[imestadoscuenta] [bit] NOT NULL,
	[imestadocuentarecagua] [bit] NOT NULL,
	[irep_inmueblesconagua] [bit] NOT NULL,
	[iimpresionmorososagua] [bit] NOT NULL,
	[irep_general_inmuebles] [bit] NOT NULL,
	[Eempresa] [bit] NOT NULL,
	[iEmpresa_dispensos] [bit] NOT NULL,
	[EestadocuentasEmpresa] [bit] NOT NULL,
	[Erep_Empresa_general] [bit] NOT NULL,
	[ccolonia] [bit] NOT NULL,
	[czonas] [bit] NOT NULL,
	[zrep_porcolonia] [bit] NOT NULL,
	[ttributos] [bit] NOT NULL,
	[trep_tributos] [bit] NOT NULL,
	[trep_ingresos_tributos] [bit] NOT NULL,
	[rrecibos_administrativos] [bit] NOT NULL,
	[rcracioncuentas] [bit] NOT NULL,
	[rrep_rec_administrativos] [bit] NOT NULL,
	[rgrupos] [bit] NOT NULL,
	[ggrupos] [bit] NOT NULL,
	[ggeneraravisos] [bit] NOT NULL,
	[IDmantenimiento] [bit] NOT NULL,
	[IDimpresiondesglose] [bit] NOT NULL,
	[IDCcobros] [bit] NOT NULL,
	[IDcobrosAnticipados] [bit] NOT NULL,
	[IDrep_ingresos_diarios] [bit] NOT NULL,
	[Cacontadores] [bit] NOT NULL,
	[Camedidas] [bit] NOT NULL,
	[Aavisos_individuales] [bit] NOT NULL,
	[Aavisos_individuales_emitidos] [bit] NOT NULL,
	[AsvisosGrupales] [bit] NOT NULL,
	[AvisosGrupales_emitidos] [bit] NOT NULL,
	[Cusuarios] [bit] NOT NULL,
	[Ctasas] [bit] NOT NULL,
	[Cbitacoras] [bit] NOT NULL,
	[Cconexion] [bit] NOT NULL,
	[Eempleado] [bit] NOT NULL,
	[Erep_empleado] [bit] NOT NULL,
	[Ealcaldia] [bit] NOT NULL,
	[Edatos_Alcaldia] [bit] NOT NULL,
	[Erespaldos] [bit] NOT NULL,
	[Ecompactar] [bit] NOT NULL,
	[activo] [bit] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[alcaldia] ([Id], [Nombre_Alcaldia], [Direccion_Alcaldia], [Telefono_Alcaldia], [Alcalde_Alcaldia], [web], [email], [Departamento], [Municipio], [Jefe]) VALUES (N'0001', N'ALCALDIA MUNICIPAL DE SAN FRANCISCO GOTERA', N'2° CALLE PTE Y AVE CENTRAL.', N'2362-3400', N'ALFREDO GONZALES CRUZ', N'SANFRANCISCOGOTERA.GOB.SV', N'CLELIA AMAYA', N'MORAZAN', N'SAN FRANCISCO GOTERA', N'JEFE CEMENTERIO')
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([id_bitacora], [Modulo], [accion], [Fecha], [Usuario]) VALUES (1, N'SICTEC -Alcaldia municipal de 
San Francisco Gotera', N'Inicio  de Sesión:', CAST(N'2022-07-19T08:19:24.737' AS DateTime), N'admin')
INSERT [dbo].[Bitacora] ([id_bitacora], [Modulo], [accion], [Fecha], [Usuario]) VALUES (2, N'Registro Nuevo Usuario', N'Registro el Usuario 123 Del Tipo: Administrador', CAST(N'2022-07-19T08:20:02.090' AS DateTime), N'admin')
INSERT [dbo].[Bitacora] ([id_bitacora], [Modulo], [accion], [Fecha], [Usuario]) VALUES (3, N'Catastro System-Edit User', N'Modifico el Usuario 123 Del Tipo: Administrador', CAST(N'2022-07-19T08:20:17.067' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
INSERT [dbo].[Colonias] ([id_colonia], [colonia], [id_zona], [activo]) VALUES (1, N'COL SANTA ELENA ', 2, 1)
INSERT [dbo].[Colonias] ([id_colonia], [colonia], [id_zona], [activo]) VALUES (2, N'CASERIO CERRO PARTIDO', 2, 1)
INSERT [dbo].[Colonias] ([id_colonia], [colonia], [id_zona], [activo]) VALUES (3, N'COL. FATIMA CASERIO CALLE NUEVA ', 2, 1)
SET IDENTITY_INSERT [dbo].[correlativo] ON 

INSERT [dbo].[correlativo] ([id], [ultimo_titulo], [ultimo_entierro], [estado]) VALUES (1, 10, 1, 1)
SET IDENTITY_INSERT [dbo].[correlativo] OFF
INSERT [dbo].[Empleados] ([Id], [Nombre], [Apellido], [edad], [f_nac], [estado_civil], [sexo], [direccion], [dui], [nit], [telefono], [experiencia], [logros], [fallos], [f_inicio], [f_registro], [cargo], [correo], [especialidad], [activo]) VALUES (1, N'ALEXI ANTONIO', N'ESCALANTE GALDAMEZ', 32, CAST(N'1990-02-01T00:00:00.000' AS DateTime), N'Soltero(a)', N'M', N'EL PARAISO, CHALATENANGO', N'00000000-0', N'0000-000000-000-0', N'2362-3462', N'', N'', N'', N'01/03/2021', N'01/03/2021', N'ALCALDE MUNICIPAL ', N'', N'LICENCIADO', 1)
INSERT [dbo].[Empleados] ([Id], [Nombre], [Apellido], [edad], [f_nac], [estado_civil], [sexo], [direccion], [dui], [nit], [telefono], [experiencia], [logros], [fallos], [f_inicio], [f_registro], [cargo], [correo], [especialidad], [activo]) VALUES (2, N'GRECIA ISABEL', N'ALVARENGA HERCULES ', 23, CAST(N'1990-03-03T00:00:00.000' AS DateTime), N'Soltero(a)', N'F', N'CASERIO ANGOSTURA EL PARAISO, CHALATENANGO', N'05777747-0', N'0410-150798-101-7', N'7039-7576', N'', N'', N'', N'26/04/2022', N'26/04/2022', N'CATASTRO', N'', N'LICENCIADA', 1)
INSERT [dbo].[Empleados] ([Id], [Nombre], [Apellido], [edad], [f_nac], [estado_civil], [sexo], [direccion], [dui], [nit], [telefono], [experiencia], [logros], [fallos], [f_inicio], [f_registro], [cargo], [correo], [especialidad], [activo]) VALUES (3, N'SONIA MARLENI', N'GALADAEZ LOPEZ ', 25, CAST(N'1996-07-11T00:00:00.000' AS DateTime), N'Soltero(a)', N'F', N'CANTON EL TABLON EL PARAISO CHALATENANGO', N'05408828-8', N'0000-000000-000-0', N'2362-3408', N'', N'', N'', N'26/04/2022', N'26/04/2022', N'INTERINA CUENTAS CORRIENTES ', N'', N'TECNICO', 1)
SET IDENTITY_INSERT [dbo].[entierros] ON 

SET IDENTITY_INSERT [dbo].[entierros] OFF
SET IDENTITY_INSERT [dbo].[titulo_perpetuidad] ON 

SET IDENTITY_INSERT [dbo].[titulo_perpetuidad] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK__alcaldia__3214EC0611B5EB79]    Script Date: 19/7/2022 09:48:53 ******/
ALTER TABLE [dbo].[alcaldia] ADD  CONSTRAINT [PK__alcaldia__3214EC0611B5EB79] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK__Bitacora__7E4268B18A30D603]    Script Date: 19/7/2022 09:48:53 ******/
ALTER TABLE [dbo].[Bitacora] ADD  CONSTRAINT [PK__Bitacora__7E4268B18A30D603] PRIMARY KEY NONCLUSTERED 
(
	[id_bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK__Colonias__E267D3BB095285E6]    Script Date: 19/7/2022 09:48:53 ******/
ALTER TABLE [dbo].[Colonias] ADD  CONSTRAINT [PK__Colonias__E267D3BB095285E6] PRIMARY KEY NONCLUSTERED 
(
	[id_colonia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK__Empleado__3214EC06A4F15418]    Script Date: 19/7/2022 09:48:53 ******/
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [PK__Empleado__3214EC06A4F15418] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK__Users__EF59F7637FB921D0]    Script Date: 19/7/2022 09:48:53 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [PK__Users__EF59F7637FB921D0] PRIMARY KEY NONCLUSTERED 
(
	[Id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Colonias] ADD  DEFAULT ((0)) FOR [activo]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((0)) FOR [activo]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [iinmuebles]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [iinmuebles_dispensos]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [imestadoscuenta]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [imestadocuentarecagua]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [irep_inmueblesconagua]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [iimpresionmorososagua]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [irep_general_inmuebles]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Eempresa]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [iEmpresa_dispensos]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [EestadocuentasEmpresa]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Erep_Empresa_general]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [ccolonia]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [czonas]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [zrep_porcolonia]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [ttributos]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [trep_tributos]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [trep_ingresos_tributos]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [rrecibos_administrativos]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [rcracioncuentas]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [rrep_rec_administrativos]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [rgrupos]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [ggrupos]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [ggeneraravisos]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IDmantenimiento]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IDimpresiondesglose]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IDCcobros]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IDcobrosAnticipados]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IDrep_ingresos_diarios]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Cacontadores]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Camedidas]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Aavisos_individuales]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Aavisos_individuales_emitidos]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [AsvisosGrupales]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [AvisosGrupales_emitidos]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Cusuarios]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Ctasas]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Cbitacoras]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Cconexion]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Eempleado]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Erep_empleado]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Ealcaldia]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Edatos_Alcaldia]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Erespaldos]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Ecompactar]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [activo]
GO
/****** Object:  StoredProcedure [dbo].[SpAlcaldiaActualizar]    Script Date: 19/7/2022 09:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SpAlcaldiaActualizar]
@Id AS NVARCHAR(510),
@Nombre_Alcaldia AS NVARCHAR(510),
@Direccion_Alcaldia AS NVARCHAR(510),
@Telefono_Alcaldia AS NVARCHAR(510),
@Alcalde_Alcaldia AS NVARCHAR(510),
@web AS NVARCHAR(510),
@email AS NVARCHAR(510),
@Departamento AS NVARCHAR(510),
@Municipio AS NVARCHAR(510),
@Jefe AS NVARCHAR(510)
AS
BEGIN
UPDATE Alcaldia
SET Nombre_Alcaldia = @Nombre_Alcaldia,
Direccion_Alcaldia = @Direccion_Alcaldia,
Telefono_Alcaldia = @Telefono_Alcaldia,
Alcalde_Alcaldia = @Alcalde_Alcaldia,
web = @web,
email = @email,
Departamento = @Departamento,
Municipio = @Municipio,
Jefe = @Jefe
WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[SpBitacoraInsertar]    Script Date: 19/7/2022 09:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SpBitacoraInsertar]
@Modulo AS NVARCHAR(510),
@accion AS NVARCHAR(510),
@Fecha AS DATETIME,
@Usuario AS NVARCHAR(510)
AS
BEGIN
INSERT INTO Bitacora (Modulo,accion,Fecha,Usuario)
VALUES (@Modulo,@accion,@Fecha,@Usuario)
END
GO
/****** Object:  StoredProcedure [dbo].[SpEntierrosActualizar]    Script Date: 19/7/2022 09:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SpEntierrosActualizar]
@id_entierro AS INT,
@numero_entiero AS INT,
@id_titulo AS INT,
@nombres_fallecido AS VARCHAR(50),
@apellidos_fallecido AS VARCHAR(50),
@tipo_documento_fallecido AS VARCHAR(50),
@numero_documento_fallecido AS VARCHAR(50),
@sexo_fallecido AS VARCHAR(50),
@edad_fallecido AS VARCHAR(50),
@estado_familiar AS VARCHAR(50),
@direccion_residencia_fallecido AS VARCHAR(50),
@lugar_nacimiento_fallecido AS VARCHAR(50),
@lugar_fallecimiento AS VARCHAR(50),
@fecha_fallecimiento AS DATE,
@hora_fallecimiento AS INT,
@minutos_fallecimiento AS INT,
@cremacion_cadaver AS VARCHAR(50),
@causa_muerte AS VARCHAR(50),
@nombre_informante AS VARCHAR(50),
@apellidos_informante AS VARCHAR(50),
@numero_documento_informante AS VARCHAR(50),
@tipo_documento_informante AS VARCHAR(50),
@calidad_informante AS VARCHAR(50),
@fecha_dio_datos AS DATE,
@numero_recibo AS VARCHAR(50),
@poligono AS VARCHAR(50),
@lote_num AS VARCHAR(50),
@cementerio AS VARCHAR(50),
@escaneo AS IMAGE,
@estado AS BIT
AS
BEGIN
UPDATE Entierros
SET numero_entiero = @numero_entiero,
id_titulo = @id_titulo,
nombres_fallecido = @nombres_fallecido,
apellidos_fallecido = @apellidos_fallecido,
tipo_documento_fallecido = @tipo_documento_fallecido,
numero_documento_fallecido = @numero_documento_fallecido,
sexo_fallecido = @sexo_fallecido,
edad_fallecido = @edad_fallecido,
estado_familiar = @estado_familiar,
direccion_residencia_fallecido = @direccion_residencia_fallecido,
lugar_nacimiento_fallecido = @lugar_nacimiento_fallecido,
lugar_fallecimiento = @lugar_fallecimiento,
fecha_fallecimiento = @fecha_fallecimiento,
hora_fallecimiento = @hora_fallecimiento,
minutos_fallecimiento = @minutos_fallecimiento,
cremacion_cadaver = @cremacion_cadaver,
causa_muerte = @causa_muerte,
nombre_informante = @nombre_informante,
apellidos_informante = @apellidos_informante,
numero_documento_informante = @numero_documento_informante,
tipo_documento_informante = @tipo_documento_informante,
calidad_informante = @calidad_informante,
fecha_dio_datos = @fecha_dio_datos,
numero_recibo = @numero_recibo,
poligono = @poligono,
lote_num = @lote_num,
cementerio = @cementerio,
escaneo = @escaneo,
estado = @estado
WHERE id_entierro = @id_entierro
END
GO
/****** Object:  StoredProcedure [dbo].[SpEntierrosEliminar]    Script Date: 19/7/2022 09:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SpEntierrosEliminar]
@Id_entierro AS INT
AS
BEGIN
DELETE FROM Entierros
WHERE Id_entierro = @Id_entierro
END
GO
/****** Object:  StoredProcedure [dbo].[SpEntierrosInsertar]    Script Date: 19/7/2022 09:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SpEntierrosInsertar]
@id_entierro as varchar(11) out ,
@numero_entiero AS INT,
@id_titulo AS INT,
@nombres_fallecido AS VARCHAR(50),
@apellidos_fallecido AS VARCHAR(50),
@tipo_documento_fallecido AS VARCHAR(50),
@numero_documento_fallecido AS VARCHAR(50),
@sexo_fallecido AS VARCHAR(50),
@edad_fallecido AS VARCHAR(50),
@estado_familiar AS VARCHAR(50),
@direccion_residencia_fallecido AS VARCHAR(50),
@lugar_nacimiento_fallecido AS VARCHAR(50),
@lugar_fallecimiento AS VARCHAR(50),
@fecha_fallecimiento AS DATE,
@hora_fallecimiento AS INT,
@minutos_fallecimiento AS INT,
@cremacion_cadaver AS VARCHAR(50),
@causa_muerte AS VARCHAR(50),
@nombre_informante AS VARCHAR(50),
@apellidos_informante AS VARCHAR(50),
@numero_documento_informante AS VARCHAR(50),
@tipo_documento_informante AS VARCHAR(50),
@calidad_informante AS VARCHAR(50),
@fecha_dio_datos AS DATE,
@numero_recibo AS VARCHAR(50),
@poligono AS VARCHAR(50),
@lote_num AS VARCHAR(50),
@cementerio AS VARCHAR(50),
@escaneo AS IMAGE,
@estado AS BIT
AS
BEGIN
INSERT INTO Entierros (numero_entiero,id_titulo,nombres_fallecido,apellidos_fallecido,tipo_documento_fallecido,numero_documento_fallecido,sexo_fallecido,edad_fallecido,estado_familiar,direccion_residencia_fallecido,lugar_nacimiento_fallecido,lugar_fallecimiento,fecha_fallecimiento,hora_fallecimiento,minutos_fallecimiento,cremacion_cadaver,causa_muerte,nombre_informante,apellidos_informante,numero_documento_informante,tipo_documento_informante,calidad_informante,fecha_dio_datos,numero_recibo,poligono,lote_num,cementerio,escaneo,estado)
VALUES (@numero_entiero,@id_titulo,@nombres_fallecido,@apellidos_fallecido,@tipo_documento_fallecido,@numero_documento_fallecido,@sexo_fallecido,@edad_fallecido,@estado_familiar,@direccion_residencia_fallecido,@lugar_nacimiento_fallecido,@lugar_fallecimiento,@fecha_fallecimiento,@hora_fallecimiento,@minutos_fallecimiento,@cremacion_cadaver,@causa_muerte,@nombre_informante,@apellidos_informante,@numero_documento_informante,@tipo_documento_informante,@calidad_informante,@fecha_dio_datos,@numero_recibo,@poligono,@lote_num,@cementerio,@escaneo,@estado)
SET @Id_entierro = SCOPE_IDENTITY()
return
END
GO
/****** Object:  StoredProcedure [dbo].[SpEntierrosObtener]    Script Date: 19/7/2022 09:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SpEntierrosObtener]
@Id_entierro AS INT
AS
BEGIN
SELECT TOP 1 
id_entierro,
numero_entiero,
id_titulo,
nombres_fallecido,
apellidos_fallecido,
tipo_documento_fallecido,
numero_documento_fallecido,
sexo_fallecido,
edad_fallecido,
estado_familiar,
direccion_residencia_fallecido,
lugar_nacimiento_fallecido,
lugar_fallecimiento,
fecha_fallecimiento,
hora_fallecimiento,
minutos_fallecimiento,
cremacion_cadaver,
causa_muerte,
nombre_informante,
apellidos_informante,
numero_documento_informante,
tipo_documento_informante,
calidad_informante,
fecha_dio_datos,
numero_recibo,
poligono,
lote_num,
cementerio,
escaneo,
estado
FROM Entierros
WHERE Id_entierro = @Id_entierro
END
GO
/****** Object:  StoredProcedure [dbo].[SpTitulo_perpetuidadActualizar]    Script Date: 19/7/2022 09:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SpTitulo_perpetuidadActualizar]
@id_titulo AS INT,
@numero_titulo AS INT,
@fecha_registro_titulo AS DATE,
@monto_titulo AS DECIMAL(18,2),
@derecho_a_favor AS VARCHAR(150),
@edad_afavor AS INT,
@profesion_afavor AS VARCHAR(150),
@domicilio_afavor AS VARCHAR(150),
@departamento_afavor AS VARCHAR(50),
@dui_afavor AS VARCHAR(50),
@dui_favor_extendido AS VARCHAR(50),
@dui_departamento_extendido AS VARCHAR(50),
@cantidad_puesto AS VARCHAR(50),
@cementerio_puesto AS VARCHAR(150),
@situado_puesto AS VARCHAR(50),
@zona_puesto AS VARCHAR(50),
@categoria_puesto AS VARCHAR(50),
@calle_puesto AS VARCHAR(50),
@numero_puesto AS VARCHAR(50),
@letra_puesto AS VARCHAR(50),
@metro_ancho AS INT,
@centimentro_ancho AS INT,
@metro_largo AS INT,
@centimetro_largo AS INT,
@linda_norte_puesto AS VARCHAR(50),
@linda_norte_calle AS VARCHAR(50),
@linda_sur_puesto AS VARCHAR(50),
@linda_sur_calle AS VARCHAR(50),
@linda_oriente_puesto AS VARCHAR(50),
@linda_oriente_calle AS VARCHAR(50),
@linda_poniente_puesto AS VARCHAR(50),
@linda_poniente_calle AS VARCHAR(50),
@cantidad_construir_nichos AS VARCHAR(50),
@contracava AS VARCHAR(50),
@monto_construccion AS DECIMAL(18,2),
@numero_recibo AS INT,
@fecha_recibo AS DATE,
@referencias AS VARCHAR(50),
@persona_entierra AS VARCHAR(50),
@imagen_recibo AS IMAGE,
@estado AS BIT
AS
BEGIN
UPDATE Titulo_perpetuidad
SET numero_titulo = @numero_titulo,
fecha_registro_titulo = @fecha_registro_titulo,
monto_titulo = @monto_titulo,
derecho_a_favor = @derecho_a_favor,
edad_afavor = @edad_afavor,
profesion_afavor = @profesion_afavor,
domicilio_afavor = @domicilio_afavor,
departamento_afavor = @departamento_afavor,
dui_afavor = @dui_afavor,
dui_favor_extendido = @dui_favor_extendido,
dui_departamento_extendido = @dui_departamento_extendido,
cantidad_puesto = @cantidad_puesto,
cementerio_puesto = @cementerio_puesto,
situado_puesto = @situado_puesto,
zona_puesto = @zona_puesto,
categoria_puesto = @categoria_puesto,
calle_puesto = @calle_puesto,
numero_puesto = @numero_puesto,
letra_puesto = @letra_puesto,
metro_ancho = @metro_ancho,
centimentro_ancho = @centimentro_ancho,
metro_largo = @metro_largo,
centimetro_largo = @centimetro_largo,
linda_norte_puesto = @linda_norte_puesto,
linda_norte_calle = @linda_norte_calle,
linda_sur_puesto = @linda_sur_puesto,
linda_sur_calle = @linda_sur_calle,
linda_oriente_puesto = @linda_oriente_puesto,
linda_oriente_calle = @linda_oriente_calle,
linda_poniente_puesto = @linda_poniente_puesto,
linda_poniente_calle = @linda_poniente_calle,
cantidad_construir_nichos = @cantidad_construir_nichos,
contracava = @contracava,
monto_construccion = @monto_construccion,
numero_recibo = @numero_recibo,
fecha_recibo = @fecha_recibo,
referencias = @referencias,
persona_entierra = @persona_entierra,
imagen_recibo = @imagen_recibo,
estado = @estado
WHERE id_titulo = @id_titulo
END
GO
/****** Object:  StoredProcedure [dbo].[SpTitulo_perpetuidadEliminar]    Script Date: 19/7/2022 09:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SpTitulo_perpetuidadEliminar]
@Id_titulo AS INT
AS
BEGIN
DELETE FROM Titulo_perpetuidad
WHERE Id_titulo = @Id_titulo
END
GO
/****** Object:  StoredProcedure [dbo].[SpTitulo_perpetuidadInsertar]    Script Date: 19/7/2022 09:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SpTitulo_perpetuidadInsertar]

@numero_titulo AS INT,
@fecha_registro_titulo AS DATE,
@monto_titulo AS DECIMAL(18,2),
@derecho_a_favor AS VARCHAR(150),
@edad_afavor AS INT,
@profesion_afavor AS VARCHAR(150),
@domicilio_afavor AS VARCHAR(150),
@departamento_afavor AS VARCHAR(50),
@dui_afavor AS VARCHAR(50),
@dui_favor_extendido AS VARCHAR(50),
@dui_departamento_extendido AS VARCHAR(50),
@cantidad_puesto AS VARCHAR(50),
@cementerio_puesto AS VARCHAR(150),
@situado_puesto AS VARCHAR(50),
@zona_puesto AS VARCHAR(50),
@categoria_puesto AS VARCHAR(50),
@calle_puesto AS VARCHAR(50),
@numero_puesto AS VARCHAR(50),
@letra_puesto AS VARCHAR(50),
@metro_ancho AS INT,
@centimentro_ancho AS INT,
@metro_largo AS INT,
@centimetro_largo AS INT,
@linda_norte_puesto AS VARCHAR(50),
@linda_norte_calle AS VARCHAR(50),
@linda_sur_puesto AS VARCHAR(50),
@linda_sur_calle AS VARCHAR(50),
@linda_oriente_puesto AS VARCHAR(50),
@linda_oriente_calle AS VARCHAR(50),
@linda_poniente_puesto AS VARCHAR(50),
@linda_poniente_calle AS VARCHAR(50),
@cantidad_construir_nichos AS VARCHAR(50),
@contracava AS VARCHAR(50),
@monto_construccion AS DECIMAL(18,2),
@numero_recibo AS INT,
@fecha_recibo AS DATE,
@referencias AS VARCHAR(50),
@persona_entierra AS VARCHAR(50),
@imagen_recibo AS IMAGE,
@estado AS BIT,
@id_titulo as varchar(11) out 
AS
BEGIN
INSERT INTO Titulo_perpetuidad (numero_titulo,fecha_registro_titulo,monto_titulo,derecho_a_favor,edad_afavor,profesion_afavor,domicilio_afavor,departamento_afavor,dui_afavor,dui_favor_extendido,dui_departamento_extendido,cantidad_puesto,cementerio_puesto,situado_puesto,zona_puesto,categoria_puesto,calle_puesto,numero_puesto,letra_puesto,metro_ancho,centimentro_ancho,metro_largo,centimetro_largo,linda_norte_puesto,linda_norte_calle,linda_sur_puesto,linda_sur_calle,linda_oriente_puesto,linda_oriente_calle,linda_poniente_puesto,linda_poniente_calle,cantidad_construir_nichos,contracava,monto_construccion,numero_recibo,fecha_recibo,referencias,persona_entierra,imagen_recibo,estado)
VALUES (@numero_titulo,@fecha_registro_titulo,@monto_titulo,@derecho_a_favor,@edad_afavor,@profesion_afavor,@domicilio_afavor,@departamento_afavor,@dui_afavor,@dui_favor_extendido,@dui_departamento_extendido,@cantidad_puesto,@cementerio_puesto,@situado_puesto,@zona_puesto,@categoria_puesto,@calle_puesto,@numero_puesto,@letra_puesto,@metro_ancho,@centimentro_ancho,@metro_largo,@centimetro_largo,@linda_norte_puesto,@linda_norte_calle,@linda_sur_puesto,@linda_sur_calle,@linda_oriente_puesto,@linda_oriente_calle,@linda_poniente_puesto,@linda_poniente_calle,@cantidad_construir_nichos,@contracava,@monto_construccion,@numero_recibo,@fecha_recibo,@referencias,@persona_entierra,@imagen_recibo,@estado)
SET @id_titulo = SCOPE_IDENTITY();
return
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'alcaldia', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'alcaldia', @level2type=N'COLUMN',@level2name=N'Nombre_Alcaldia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'alcaldia', @level2type=N'COLUMN',@level2name=N'Direccion_Alcaldia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'alcaldia', @level2type=N'COLUMN',@level2name=N'Telefono_Alcaldia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'4' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'alcaldia', @level2type=N'COLUMN',@level2name=N'Alcalde_Alcaldia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'5' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'alcaldia', @level2type=N'COLUMN',@level2name=N'web'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'6' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'alcaldia', @level2type=N'COLUMN',@level2name=N'email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'7' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'alcaldia', @level2type=N'COLUMN',@level2name=N'Departamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'8' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'alcaldia', @level2type=N'COLUMN',@level2name=N'Municipio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'9' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'alcaldia', @level2type=N'COLUMN',@level2name=N'Jefe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'Apellido'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'edad'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'4' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'f_nac'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'5' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'estado_civil'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'6' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'sexo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'7' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'direccion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'8' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'dui'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'9' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'nit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'10' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'telefono'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'11' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'experiencia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'12' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'logros'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'13' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'fallos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'14' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'f_inicio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'15' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'f_registro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'16' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'cargo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'17' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'correo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'18' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'especialidad'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'19' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleados', @level2type=N'COLUMN',@level2name=N'activo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Id_usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Pass'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'4' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'dui'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'5' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Cargo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'6' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'tipo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'7' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Fecha_registro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'8' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'nit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'9' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'iinmuebles'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'10' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'iinmuebles_dispensos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'11' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'imestadoscuenta'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'12' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'imestadocuentarecagua'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'13' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'irep_inmueblesconagua'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'14' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'iimpresionmorososagua'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'15' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'irep_general_inmuebles'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'16' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Eempresa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'17' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'iEmpresa_dispensos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'18' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'EestadocuentasEmpresa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'19' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Erep_Empresa_general'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'20' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'ccolonia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'21' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'czonas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'22' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'zrep_porcolonia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'23' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'ttributos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'24' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'trep_tributos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'25' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'trep_ingresos_tributos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'26' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'rrecibos_administrativos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'27' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'rcracioncuentas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'28' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'rrep_rec_administrativos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'29' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'rgrupos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'30' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'ggrupos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'31' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'ggeneraravisos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'32' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'IDmantenimiento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'33' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'IDimpresiondesglose'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'34' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'IDCcobros'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'35' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'IDcobrosAnticipados'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'36' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'IDrep_ingresos_diarios'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'37' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Cacontadores'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'38' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Camedidas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'39' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Aavisos_individuales'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'40' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Aavisos_individuales_emitidos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'41' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'AsvisosGrupales'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'42' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'AvisosGrupales_emitidos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'43' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Cusuarios'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'44' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Ctasas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'45' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Cbitacoras'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'46' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Cconexion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'47' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Eempleado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'48' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Erep_empleado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'49' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Ealcaldia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'50' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Edatos_Alcaldia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'51' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Erespaldos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'52' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Ecompactar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'53' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'activo'
GO
USE [master]
GO
